#root label,
#root button,
#root input,
#root textarea,
#root select {
    all: unset;
    display: revert;
    margin: 0;
    padding: 0;
    font-size: 100%; /* Resets font size to default browser setting */
    font-family: inherit; /* Ensures font consistency */
    vertical-align: baseline; /* Aligns items properly */
    box-sizing: border-box; /* Border-box sizing model */
    color: inherit; /* Inherits parent color */
    background: transparent;
}

#root a {
    all: unset;
    cursor: pointer;
    color: inherit; /* Ensures links use the parent's text color */
    text-decoration: none;
}

#root ul, #root ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#root table {
    border-collapse: collapse;
    border-spacing: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: Arial, Helvetica, sans-serif;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

button {
  border-style: solid;
  border-width: 0;
}

h3 {
  margin: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  border-radius: 8px;
}

.leaflet-container .leaflet-popup-pane a.leaflet-popup-close-button {
  color: black;
  font-weight: 700;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.svg-icon {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -36px;
  transition: all 300ms; 
}

.animated-icon {
  width: 50px !important;
  height: 50px !important;
  margin-left: -25px !important;
  margin-top: -50px !important;
  transition: all 300ms; 
}

.leaflet-tooltip-pane .leaflet-tooltip {
  background-color: #1d4ed8;
  border-color: #1d4ed8;
  color: #ffffff;
}

.leaflet-tooltip-pane .leaflet-tooltip-bottom:before {
  border-bottom-color: #1d4ed8;
}